// Hero title

.grid-container{
    border-bottom: 1px dashed grey;
    margin-bottom: 50px;
    .heroText{
    padding: 50px 0 50px 0; 
    text-align: center;
    @media screen and (min-width: 40em) {
        padding: 100px 0 50px 0; 
    }
}
}

// For Styling

form{
    width:100%;
    .filterItem{
        padding:10px;
    }
    [type=button]{
        border: 1px solid grey;
        padding: 8px;
        margin-left: 5px;
        &:hover{
            background-color: lightgrey;
            cursor: pointer;
        }
    }
}

/* Property Cards */

.property{
    padding:20px;
    .card-header{
        border:1px solid grey;
        padding:10px;
        &:hover{
            background-color: lightgrey;
            cursor: pointer;
        }
    }
    .card-image{
        border:1px solid grey;
    }

}

// In terms of growth for this project, 
// each element could inport their own style sheet